body{

font-family: Arial, sans-serif;
background:#f4f4f4;

}

header{

background:#111;
color:white;

}

h1{

font-size:40px;

}

.card{

border-radius:15px;
box-shadow:0 5px 10px #999;

}

section{

margin-top:20px;

}

button{

border-radius:20px;

}

/* Validaciones */

.is-valid{

border:2px solid #198754 !important;

}

.is-invalid{

border:2px solid #dc3545 !important;

}

.alert{

margin-top:15px;

}

small{

font-size:14px;

}

textarea{

resize:none;

}

#listaProyectos .card{

background:white;

}

@media(max-width:600px){

h1{

font-size:25px;

}

h2{

font-size:20px;

}

button{

width:100%;

}

}