body{

font-family: Arial, sans-serif;
background:#f4f4f4;

}

header{

background:#111;
color:white;

}

h1{

font-size:40px;

}

.card{

border-radius:15px;
box-shadow:0 5px 10px #999;

}

section{

margin-top:20px;

}

button{

border-radius:20px;

}


@media(max-width:600px){


h1{

font-size:25px;

}


h2{

font-size:20px;

}


}